/* Vista PC */
* {
  margin: 0;
  padding: 0;
}

/* Modificaciones para el scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdfffc2d;
}

::-webkit-scrollbar-thumb {
  background: #FDFFFC;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-31%, #6096BA), color-stop(123%, #414288));
  background: linear-gradient(180deg, #6096BA -31%, #414288 123%);
  background-repeat: repeat;
  min-height: 100vh;
}

body header {
  padding-top: 70px;
}

body header nav ul {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav ul a {
  text-decoration: none;
}

body header nav ul a li {
  list-style: none;
  color: #FDFFFC;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
}

body header nav ul a #actualPage {
  font-weight: 600;
}

body .mainIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

body .mainIndex__sectionConversor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

body .mainIndex__sectionConversor select {
  width: 30vw;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

body .mainIndex__sectionConversor .divConversion {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FDFFFC;
  border-radius: 10px;
}

body .mainIndex__sectionConversor .divConversion .unidad {
  width: 10vw;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-size: 20px;
}

body .mainIndex__sectionConversor .divConversion .valor {
  width: 20vw;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding: 5px 10px;
  font-family: "Roboto Condensed", sans-serif;
  color: #020100;
  font-size: 18px;
  font-weight: bold;
}

body .mainIndex__sectionConversor .divConversion #inputValorIngresado {
  width: 17vw;
}

body .mainIndex__sectionConversor .divConversion #outputValorResultado {
  padding-top: 5px;
}

body .mainIndex__sectionConversor .arrow {
  height: 90px;
  width: 48px;
}

body .mainIndex__sectionConversor .btn {
  width: 30vw;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: #020100;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .mainIndex__sectionConversor .btn:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

body .mainIndex__sectionHistorial {
  width: 30vw;
  margin-left: 10px;
  display: none;
  opacity: 0.0;
}

body .mainIndex__sectionHistorial div {
  max-height: 60vh;
  overflow: auto;
  padding: 0 10px;
  scroll-behavior: smooth;
}

body .mainIndex__sectionHistorial div .divHistorial {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

body .mainIndex__sectionHistorial div .divHistorial p {
  font-family: "Roboto Condensed", sans-serif;
  color: #FDFFFC;
  font-size: 15px;
  text-align: center;
}

body .mainIndex__sectionHistorial h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #FDFFFC;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

body .mainSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body .mainSearch .inputBuscar {
  width: 30vw;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

body .mainSearch .divConstante {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .mainSearch .divConstante p {
  color: #FDFFFC;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 200;
}

body .mainSearch hr {
  margin: 10px 0;
}

/* Para vista en tablet */
/* Para vista en celular */
/*# sourceMappingURL=estilo.css.map */