@import "variables";

/* Vista PC */

*{
    margin: 0;
    padding: 0;
}

/* Modificaciones para el scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $colorAzul; 
}
::-webkit-scrollbar-thumb {
    background: $colorBlanco;
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {
    background: $colorBlancoSuave; 
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, $colorAzul -31%, $colorVioleta 123%);
    background-repeat: repeat;
    min-height: 100vh;
    header{
        padding-top: 70px;
        nav{
            ul{
                width: 25vw;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    li{
                        list-style: none;
                        color: $colorBlanco;
                        font-family: $fuente;
                        font-weight: 200;
                        font-size: 1.5vw;
                    }
                    #actualPage{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .mainIndex{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        &__sectionConversor{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            height: 70vh;
            select{
                width: 30vw;
                height: 40px;
                border-radius: 10px;
                border: none;
                font-family: $fuente;
                font-size: 15px;
                padding: 5px 10px;
                font-weight: bold;
                cursor: pointer;
                background-color: $colorBlanco;
            }
            .divConversion{
                width: 30vw;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                background-color: $colorBlanco;
                border-radius: 10px;
                .unidad{
                    width: 10vw;
                    height: 40px;
                    border-radius: 0px 10px 10px 0px;
                    border: none;
                    font-size: 20px;
                }
                .valor{
                    width: 20vw;
                    height: 30px;
                    border-radius: 10px 0px 0px 10px;
                    border: none;
                    padding: 5px 10px;
                    font-family: $fuente;
                    color: $colorNegro;
                    font-size: 18px;
                    font-weight: bold;
                }
                #inputValorIngresado{
                    width: 17vw;
                }
                #outputValorResultado{
                    padding-top: 5px;
                }
            }
            .arrow{
                height: 90px;
                width: 48px;
            }
            .btn{
                min-width: 30vw;
                height: 40px;
                background-color: $colorBlanco;
                font-family: $fuente;
                color: $colorNegro;
                font-size: 20px;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover{
                    box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.25);
                }
            }
        }
        &__sectionHistorial{
            min-width: 30vw;
            margin-left: 10px;
            display: none;
            opacity: 0.0;
            div{
                max-height: 60vh;
                overflow: auto;
                padding: 0 10px;
                scroll-behavior: smooth;
                .divHistorial{
                    width: 30vw;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px auto;
                    p{
                        font-family: $fuente;
                        color: $colorBlanco;
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
            h2{
                font-family: $fuente;
                color: $colorBlanco;
                font-size: 20px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
    .mainSearch{
        display: flex;
        flex-flow: column nowrap;
        .inputBuscar{
            width: 30vw;
            height: 30px;
            border-radius: 10px;
            border: none;
            padding: 5px 10px;
            font-family: $fuente;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .divConstante{
            width: 30vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            p{
                color: $colorBlanco;
                font-family: $fuente;
                font-size: 15px;
                font-weight: 200;
            }
        }
        hr{
            margin: 10px 0;
        }
    }

}

/* Para vista en tablet */

@media only screen and (min-width: 600px) and (max-width: 960px) {
    
    body{
        header{
            nav{
                ul{
                    width: 50vw;
                    a{
                        li{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .mainIndex{
            flex-direction: column;
            &__sectionConversor{
                display: grid;
                grid-template-areas: "magnitud magnitud magnitud"
                                     "origen flecha destino"
                                     "btnconvertir btnconvertir btnconvertir"
                                     "btnhistorial btnhistorial btnhistorial";
                #selectMagnitud{
                    grid-area: magnitud;
                    margin: 0 auto;
                    width: 70vw;
                }
                #divOrigen{
                    grid-area: origen;
                }
                #divDestino{
                    grid-area: destino;
                }
                .arrow{
                    grid-area: flecha;
                    transform: rotate(270deg);
                    height: 45px;
                    width: 25px;
                }
                #btnConvertir{
                    grid-area: btnconvertir;
                }
                #btnVerHistorial{
                    grid-area: btnhistorial;
                }
            }
            &__sectionHistorial{
                margin-bottom: 20px;
            }
        }
        .mainSearch{
            .inputBuscar{
                width: 70vw;
            }
            .divConstante{
                width: 70vw;
            }
        }
    }

}

/* Para vista en celular */

@media only screen and (max-width: 600px) {

    body{
        header{
            nav{
                ul{
                    width: 70vw;
                    a{
                        li{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .mainIndex{
            flex-direction: column;
            &__sectionConversor{    
                select{
                    width: 70vw;
                }
                .divConversion{
                    width: 70vw;
                    .unidad{
                        width: 20vw;
                    }
                    .valor{
                        width: 50vw;
                    }       
                    #inputValorIngresado{
                        width: 45vw;
                    }
                }
                .btn{
                    width: 70vw;
                }
            }
            &__sectionHistorial{
                min-width: 70vw;
                margin-bottom: 20px;
                div{
                    .divHistorial{
                        width: 70vw;
                    }
                }
            }
        }
        .mainSearch{
            .inputBuscar{
                width: 80vw;
            }
            .divConstante{
                width: 80vw;
            }
        }
    }

}